// MANAGED BY SALTSTACK -- local modifications WILL be overwritten.

// this will upgrade ANY configured apt source automatically.
Unattended-Upgrade::Origins-Pattern {
    "o=*";
};

Unattended-Upgrade::Package-Blacklist {
};

Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";

Unattended-Upgrade::Remove-Unused-Dependencies "true";

Unattended-Upgrade::Automatic-Reboot "true";
Unattended-Upgrade::Automatic-Reboot-WithUsers "true";

Unattended-Upgrade::Automatic-Reboot-Time "{{ autoupdates.reboot_time }}";

Unattended-Upgrade::Verbose "false";

// automatically upgrade packages with newer versions of config files - but do NOT replace those files, instead use the old version
Dpkg::Options {
   "--force-confdef";
   "--force-confold";
};