// MANAGED BY SALTSTACK -- local modifications WILL be overwritten.

// this will upgrade ANY configured apt source automatically.
Unattended-Upgrade::Origins-Pattern {
    "o=*";
};

Unattended-Upgrade::Package-Blacklist {
};

Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";

Unattended-Upgrade::Remove-Unused-Dependencies "true";

{%- if 'libvirt' in grains.get('roles', []) %}
// not rebooting automatically because this server has salt grain role of 'libvirt'
Unattended-Upgrade::Automatic-Reboot "false";
{% else %}
Unattended-Upgrade::Automatic-Reboot "true";
Unattended-Upgrade::Automatic-Reboot-WithUsers "true";

// probably need to tweak this to check if UTC or MST
Unattended-Upgrade::Automatic-Reboot-Time "02:00";
{% endif %}

// remove this after testing
Unattended-Upgrade::Verbose "false";

